<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link href="{{ __dirname }}/styles.css" rel="stylesheet">
    <link href='{{ __dirname }}/static/css/font-awesome/css/font-awesome.min.css' rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <style>
        body{
            overflow-y: auto;
            overflow-x: inherit;
        }
        a{
            color: cyan;
        }
        #main-wrapper{
            display: block;
            padding-top: 30px;
            padding-left: 25vh;
            padding-right: 25vh;
            padding-bottom: 100px;
            user-select: text
        }
        @media only screen and (max-width: 750px) {
            #main-wrapper{
                display: block;
                padding-top: 30px;
                padding-left: 5vh;
                padding-right: 5vh;
                padding-bottom: 100px;
            }
        }
    </style>
    <div id="main-wrapper">
        <div id="read_title">
            <h1>{{ title }}</h1>
        </div>
        <div id="read_notic_info" class="notic_info">
            <span class="read_notic_pubDate"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ pubDate }}</span>
            <span class="read_notic_publisher"><i class="fa fa-user" aria-hidden="true"></i> {{ publisher }}</span>
            <span class="read_notic_level"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> {{ level }}</span>
        </div>
        <hr>
        <div id="read_notic_content">{{ content }}</div>
        <script>
            const { ipcMain } = require('electron')
            // 主进程 IPC 通信 包装
			function toMainTask(command, argsjson){
				const { ipcRenderer } = require('electron')
				var x = {"command": command, "argsjson": argsjson}
				ipcRenderer.send('asynchronous-message', JSON.stringify(x))
			}
            function openLinkByBrowser(url){
				toMainTask('run', JSON.stringify({cmd: url}))
            }

            var x = document.getElementsByTagName('a')
            let urlregexp = /^(?:(http|https):\/\/)?((?:[\w-]+\.)+[a-z0-9]+)((?:\/[^/?#]*)+)?(\?[^#]+)?(#.+)?$/gi;

            for(var a = 0; a < x.length; a++){
				//	过滤非url内容，防止XSS
				if(urlregexp.test(x[0].getAttribute('href')))x[0].setAttribute('onclick', `openLinkByBrowser('${x[0].getAttribute('href')}')`)
                else x[0].setAttribute('onclick', ``)
                //	在外部浏览器打开
                x[0].setAttribute('href', '#')
            }
        </script>
    </div>
</body>
